* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif; }

body {
  background-color: orange; }

.navbar {
  width: 887px;
  height: 59px;
  position: relative;
  left: 300px;
  top: 60px;
  display: flex;
  flex-direction: row;
  background-color: white; }
  .navbar .logo {
    margin-top: 13px;
    margin-left: 14px;
    text-shadow: 2px 2px yellow; }
  .navbar .search-text {
    width: 313px;
    height: 36px;
    position: relative;
    top: 9px;
    border-radius: 13px;
    left: 92px;
    /* outline: orange; */
    border: 2px solid orange;
    text-align: center; }
  .navbar .add-recipe {
    margin-left: 199px;
    margin-top: 18px;
    color: black;
    font-weight: 500; }
  .navbar .bookmark {
    margin-left: 19px;
    margin-top: 18px;
    color: black;
    font-weight: 500; }

.container {
  width: 887px;
  height: 700px;
  position: relative;
  left: 300px;
  top: 60px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row; }
  .container .card1 {
    width: 300px;
    background-color: #f0efeb; }
  .container .card2 {
    width: 600px;
    display: flex;
    flex-direction: column; }
    .container .card2 .subcard1 {
      height: 300px;
      background-color: #edf6f9; }
      .container .card2 .subcard1 img {
        width: 594px;
        height: 349px; }
    .container .card2 .subcard2 {
      height: 400px;
      background-color: #edf6f9; }
      .container .card2 .subcard2 .div1 {
        height: 80px; }
