* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

// $bgcolor: #023e8a;
// $textcolor: yellow; //variables
// $hovercolor: white;

// @import "mixin";

// header {
//   @include headercode(green);

//   //nesting
//   h1 {
//     @include commoncode;
//     &:hover {
//       color: $hovercolor;
//     }

//     &::after {
//       content: " my dear?";
//       color: pink;
//     }
//   }

//   p {
//     @include commoncode;
//   }
// }

// .second-header {
//   @include headercode(blue);
// }\

$varcolor1: #f0efeb;
$varcolor2: #edf6f9;
$varcolor3: orange;
$varcolor4: white;
$varcolor5: black;
$varcolor6: yellow;

@mixin subbox($height) {
  height: $height;
  background-color: $varcolor2;
}

@mixin nav($ml, $mt) {
  margin-left: $ml;
  margin-top: $mt;
  color: $varcolor5;
  font-weight: 500;
}

body {
  background-color: orange;
}

.navbar {
  // border: 2px solid red;
  width: 887px;
  height: 59px;
  position: relative;
  left: 300px;
  top: 60px;
  display: flex;
  flex-direction: row;
  background-color: $varcolor4;

  .logo {
    margin-top: 13px;
    margin-left: 14px;
    text-shadow: 2px 2px $varcolor6;
  }

  .search-text {
    width: 313px;
    height: 36px;
    position: relative;
    top: 9px;
    border-radius: 13px;
    left: 92px;
    /* outline: orange; */
    border: 2px solid $varcolor3;
    text-align: center;
  }

  .add-recipe {
    @include nav(199px, 18px);
  }

  .bookmark {
    @include nav(19px, 18px);
  }
}

.container {
  width: 887px;
  height: 700px;
  // border: 2px solid red;
  position: relative;
  left: 300px;
  top: 60px;
  background-color: $varcolor4;
  // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: row;

  .card1 {
    width: 300px;
    // border: 2px solid red;
    background-color: $varcolor1;
  }

  .card2 {
    // border: 2px solid green;
    width: 600px;
    display: flex;
    flex-direction: column;

    .subcard1 {
      @include subbox(300px);

      img {
        width: 594px;
        height: 349px;
      }
    }

    .subcard2 {
      @include subbox(400px);

      .div1 {
        height: 80px;
        // border: 2px solid red;
      }
    }
  }
}
